@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /* Radial Status */
:root {
  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43c356;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #C72929;
  --rs-offline-color: #474D54;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #93A0B0;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);
}
